[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci",
  "cd ../backend && npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "cd ../backend && node src/index.js"
